#person {
  width: 30px;
  height: 30px;
  right: 20px;
}
#sign {
  width: 170px;
  height: 40px;
  margin-top: 3%;
  font-family: iransans;
  display: flex;
}
#signup {
  margin-left: 20px;
  font-family: iransans;
}
#signin {
  margin-left: 10px;
  font-family: iransans;
}
@font-face {
  font-family: iransans;
  src: url("./assets/Font/IRANSansWeb.ttf");
}
#search {
  width: 450px;
  height: 40px;
  border-radius: 40px;
  text-align: right;
  font-size: large;
  font-family: iransans;
  border-style: double;
  display: flex;
}
#input{
  display: flex;
  margin-top: 1%
}
/* #searchicon{
  display: block;
} */
#Welcome {
  margin-top: 1%;
  margin-left: 100px;
  background: linear-gradient(90deg, #2e073f 0%, #ebd3f8 100%);
  background-clip: text;
  color: transparent;
}
