#person {
  width: 30px;
  height: 30px;
  right: 20px;
}
#sign {
  width: 170px;
  height: 40px;
  margin-top: 3%;
  font-family: iransans;
  display: flex;
}
#signup {
  margin-left: 20px;
  font-family: iransans;
}
#signin {
  margin-left: 10px;
  font-family: iransans;
}
@font-face {
  font-family: iransans;
  src: url("./assets/Font/IRANSansWeb.ttf");
}
#search {
  width: 600px;
  height: 40px;
  border-radius: 15px;
  text-align: right;
  font-size: large;
  font-family: iransans;
  border-color: #ebd3f8;
  background-color: #ededed;
  position: relative;
}
#input{
  position: relative;
  margin-top: 1%
}
#search-icon{
  position: relative;
  margin-top: -11%;
  margin-right: 93%;
  cursor: pointer;
}
#Welcome {
  margin-top: 1%;
  background: linear-gradient(90deg, #2e073f 0%, #ebd3f8 100%);
  background-clip: text;
  color: transparent;
}
#Logo{
  border-radius: 100px;
}